@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-font: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --secondary-font: 'Abril Fatface', cursive, serif, sans-serif;
  
  font-family: var(--primary-font);

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  --color-primary: #F9E7E7;
  --color-lightbox: #5A3131;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: var(--secondary-font);
  font-size: 6rem;
  font-weight: 400;
  mix-blend-mode: hard-light;
  color: #FFC700;
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}